<div clas='container' style='width: 80vw; margin: auto;'>
  ​
  <!-- Headline -->
  <div class='row' style='margin-bottom: 40px'>
    <div class='col-12'>
      <h1 style='text-align:center;'>
        Results (1/23/23)
      </h1>
    </div>
  </div>
  {{! ​
  <!-- #1 -->
  <div class='row' style='margin-bottom: 40px;'>
    <div class='col-12'>
      ​
      <h2>
        #1 - The Holy Rollers
      </h2>
      ​
      <table
        class='table'
        style='width: 100%; font-family: serif; border-style: solid; border-color: black;'
      >
        ​
        <thead class='table-dark'>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Points</th>
            <th scope='col'>Rebounds</th>
            <th scope='col'>Assists</th>
            <th scope='col'>Steals</th>
            <th scope='col'>Total</th>
          </tr>
        </thead>
        ​
        <tbody>
          <tr>
            <th scope='row'>William Voigt</th>
            <th>6</th>
            <th>12</th>
            <th>8</th>
            <th>2</th>
            <th>42</th>
          </tr>
          ​
          <tr>
            <th scope='row'>LeBron James</th>
            <th>29.8</th>
            <th>8.4</th>
            <th>7</th>
            <th>.8</th>
            <th>46</th>
          </tr>
          ​
          <tr>
            <th scope='row'>Stephen Curry</th>
            <th>25.5</th>
            <th>5.2</th>
            <th>6.3</th>
            <th>.8</th>
            <th>37.8</th>
          </tr>
          ​
          <tr class='table-dark'>
            <th scope='row'>Total</th>
            <th>61.3</th>
            <th>25.6</th>
            <th>21.3</th>
            <th>3.6</th>
            <th>125.8</th>
          </tr>
          ​
        </tbody>
        ​
      </table> }}

  {{#each teams as |team|}}
    <h2>{{team.name}}</h2>
    <table class='table'>
      <thead class='table-dark'>
        <tr>
          <th scope='col'>Name</th>
          <th scope='col'>Points</th>
          <th scope='col'>Rebounds</th>
          <th scope='col'>Assists</th>
          <th scope='col'>Steals</th>
          <th scope='col'>Fantasy Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope='row'>{{team.player_one_info.name}}</th>
          <th>{{team.player_one_info.points_scored}}</th>
          <th>{{team.player_one_info.rebounds}}</th>
          <th>{{team.player_one_info.assists}}</th>
          <th>{{team.player_one_info.steals}}</th>
          <th>{{team.player_one_info.fantasy_points}}</th>
        </tr>
        <tr>
          <th scope='row'>{{team.player_two_info.name}}</th>
          <th>{{team.player_two_info.points_scored}}</th>
          <th>{{team.player_two_info.rebounds}}</th>
          <th>{{team.player_two_info.assists}}</th>
          <th>{{team.player_two_info.steals}}</th>
          <th>{{team.player_two_info.fantasy_points}}</th>
        </tr>
        <tr>
          <th scope='row'>{{team.player_three_info.name}}</th>
          <th>{{team.player_three_info.points_scored}}</th>
          <th>{{team.player_three_info.rebounds}}</th>
          <th>{{team.player_three_info.assists}}</th>
          <th>{{team.player_three_info.steals}}</th>
          <th>{{team.player_three_info.fantasy_points}}</th>
        </tr>
      </tbody>
    </table>
  {{/each}}

  {{!       
    </div>
  </div>
  ​
  <!-- #2 -->
  <div
    class='row'
    style='margin-bottom: 40px; border-style: solid; border-color: black;'
  >
    <div class='col-12'>
      ​
      <h2>
        #2 - Get Thee To A Nunnery
      </h2>
      ​
      <table
        class='table'
        style='width: 100%; font-family: serif; border-style: solid; border-color: black;'
      >
        ​
        <thead class='table-dark'>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Points</th>
            <th scope='col'>Rebounds</th>
            <th scope='col'>Assists</th>
            <th scope='col'>Steals</th>
            <th scope='col'>Total</th>
          </tr>
        </thead>
        ​
        <tbody>
          <tr>
            <th scope='row'>William Voigt</th>
            <th>6</th>
            <th>12</th>
            <th>8</th>
            <th>2</th>
            <th>42</th>
          </tr>
          ​
          <tr>
            <th scope='row'>LeBron James</th>
            <th>29.8</th>
            <th>8.4</th>
            <th>7</th>
            <th>.8</th>
            <th>46</th>
          </tr>
          ​
          <tr>
            <th scope='row'>Stephen Curry</th>
            <th>25.5</th>
            <th>5.2</th>
            <th>6.3</th>
            <th>.8</th>
            <th>37.8</th>
          </tr>
          ​
          <tr class='table-dark'>
            <th scope='row'>Total</th>
            <th>61.3</th>
            <th>25.6</th>
            <th>21.3</th>
            <th>3.6</th>
            <th>125.8</th>
          </tr>
          ​
        </tbody>
        ​
      </table>
      ​
    </div>
  </div>
  ​ ​
  <!-- #3 -->
  <div class='row' style='margin-bottom: 40px'>
    <div class='col-12'>
      ​
      <h2>
        #2 - The Third Estate
      </h2>
      ​
      <table
        class='table'
        style='width: 100%; font-family: serif; border-style: solid; border-color: black;'
      >
        ​
        <thead class='table-dark'>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Points</th>
            <th scope='col'>Rebounds</th>
            <th scope='col'>Assists</th>
            <th scope='col'>Steals</th>
            <th scope='col'>Total</th>
          </tr>
        </thead>
        ​
        <tbody>
          <tr>
            <th scope='row'>William Voigt</th>
            <th>6</th>
            <th>12</th>
            <th>8</th>
            <th>2</th>
            <th>42</th>
          </tr>
          ​
          <tr>
            <th scope='row'>LeBron James</th>
            <th>29.8</th>
            <th>8.4</th>
            <th>7</th>
            <th>.8</th>
            <th>46</th>
          </tr>
          ​
          <tr>
            <th scope='row'>Stephen Curry</th>
            <th>25.5</th>
            <th>5.2</th>
            <th>6.3</th>
            <th>.8</th>
            <th>37.8</th>
          </tr>
          ​
          <tr class='table-dark'>
            <th scope='row'>Total</th>
            <th>61.3</th>
            <th>25.6</th>
            <th>21.3</th>
            <th>3.6</th>
            <th>125.8</th>
          </tr>
          ​
        </tbody>
        ​
      </table>
      ​
    </div>
  </div>}}
</div>